* {
  margin: 0;
  padding: 0;
}

.medicineItem {
    list-style: none;
}
.medicineListComponent {
    height: 100vh;
    float: left;
    overflow: hidden;
    overflow-y: scroll;
}

.detailsViewComponent {
    float: left;
    padding-left: 2%;
    width: 50%;
}

.detailsViewComponent span {
    padding-right: 1em;
}
